<% provide(:title, 'Usuarios') %>
<div class="center hero-unit">
	<h1>Lista de usuarios</h1>

	<br/>
	
	<table id="us_table" class="table table-bordered table-hover tablesorter">
		<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Email</th>
			<th>Privilegios</th>
			<% if @my.privileges == -1 %>
				<th>Editar</th>
				<th>Borrar</th>
			<% end %>
		</tr>
		</thead>
		<tbody>	
			<% @users.each do |user| %>
			  <tr>
				<td><%= user.id %></td>
			    <td><%= user.name %></td>
			    <td><%= user.surname %></td>
			    <td><%= user.email %></td>
			    <td>
					<% if user.privileges == -1 %>	
						Administrador
					<% elsif user.privileges == 0 %>
						Supervisor
					<% elsif user.privileges == 1 %>
						Mesero
					<%end%>
				</td>
				<% if @my.privileges == -1 %>
			    	<td><%= link_to image_tag("edit.png", alt: 'Editar'), edit_user_path(user) %></td>
			    	<td><%= link_to image_tag("delete.png", alt: 'Borrar'), user, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
				<%end%>
			  </tr>
			<% end %>
		</tbody>
	</table>

	<br />
	
	<% if @my.privileges == -1  || @my.privileges == 0 %>	
		<%= link_to 'Nuevo Usuario', new_user_path %>
	<%end%>
</div>



