<% provide(:title, 'Clientes') %>
<div class="center hero-unit">
	<h1>Lista de clientes</h1>

	<br/>
	
	<table class="table table-bordered table-hover">
		<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Email</th>
			<th>Borrar</th>
		</tr>
		</thead>
		<tbody>	
			<% @clients.each do |client| %>
			  <tr>
				<td><%= client.id %></td>
			    <td><%= client.name %></td>
			    <td><%= client.surname %></td>
			    <td><%= client.email %></td>
			    <td><%= link_to image_tag("delete.png", alt: 'Borrar'), client, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>

	<br />
</div>
