<% provide(:title, 'Ordenes') %>
<div class="center hero-unit">
	<h1>Lista de ordenes</h1>

	<br/>
	
	<table id="or_table" class="table table-bordered table-hover tablesorter">
		<thead>
		<tr>
			<th>Id</th>
			<th>Mesa</th>
			<th>Platillo</th>
			<th>Cliente</th>
			<th>Pagado</th>
			<th>Hora Pedido</th>
			<th>Borrar</th>
		</tr>
		</thead>
		<tbody>	
			<% @orders.each do |order| %>
			  <tr>
				<td><%= order.id %></td>
			    <td><%= order.table_id %></td>
				<td><%= Course.find(order.course_id).name %></td>
			    <td><%= Client.find(order.client_id).name + ' ' + Client.find(order.client_id).surname %></td>
			    <% if order.paid == true %>
					<td><%= image_tag("yes.png", alt: "Si") %></td>
				<% else %>
					<td><%= image_tag("no.png", alt: "No") %></td>
				<% end %>
			    <td><%= order.request_time.to_formatted_s(:time) %></td>
				<td><%= link_to image_tag("delete.png", alt: 'Borrar'), order, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>
