<div class="row">
	<div class="span6 offset3">
		<%= form_for(@table) do |f| %>
		<%= render 'shared/error_messages' %>

		<%= f.label :code, "Código" %>
		<%if @table.code.nil? == false%>
			<%= f.text_field :code %>
		<% else %>
			<%= f.text_field :code, value: code %>
		<% end %>
		
		<%= f.label :waiter_id, "Mesero" %>
	    <%= f.select(:waiter_id , options_from_collection_for_select(Waiter.all, :id, :name, @table.waiter_id), { :include_blank => true})%>
	    
		<%= f.submit "Enviar", class: "btn btn-large signup_btn" %>
		<% end %>
	</div>
</div>

<%= link_to image_tag("back.png", alt: 'Atrás', style:'float:right'), tables_path %>