<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @table.code %>
</p>

<p>
  <b>Waiter:</b>
  <%= @table.waiter_id %>
</p>


<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
