<div class="row">
	<div class="span6 offset3">
		<%= form_for(@course) do |f| %>
		<%= render 'shared/error_messages' %>

		<%= f.label :name, "Nombre" %>
		<%= f.text_field :name %>
		
		<%= f.label :price %>
	    <%= f.number_field :price %>
	
		<%= f.label :image, "Imagen" %>
		<%if @course.image.nil? == false%>
			<% if @course.image.empty? == false%>
				<%= f.text_field :image %>
			<% else %>
				<%= f.text_field :image, value: 'courses/'%>
			<% end %>
		<% else %>
			<%= f.text_field :image, value: 'courses/' %>
		<% end %>
		
		<%= f.label :category, "Categoria" %>
	    <%= f.select(:category_id , options_from_collection_for_select(Category.all, :id, :name, @course.category_id), { :include_blank => true}) %>
	    
		<%= f.submit "Enviar", class: "btn btn-large signup_btn" %>
		<% end %>
	</div>
</div>

<%= link_to image_tag("back.png", alt: 'Atrás', style:'float:right'), courses %>