<% provide(:title, 'Platillos') %>
<div class="center hero-unit">
	<h1>Lista de platillos</h1>

	<br/>
	
	<table class="table table-bordered table-hover">
		<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Categoria</th>
			<th>Imagen</th>
			<th>Editar</th>
			<th>Borrar</th>
		</tr>
		</thead>
		<tbody>	
			<% @courses.each do |course| %>
			  <tr>
				<td><%= course.id %></td>
				<td><%= course.name %></td>
			    <td style="text-align: right !important; padding-right: 37px;">$<%= course.price %>.00</td>
			    <td><%= course.category_id %></td>
			    <td><%= course.image %></td>
			    <td><%= link_to image_tag("edit.png", alt: 'Editar'), edit_course_path(course) %></td>
			    <td><%= link_to image_tag("delete.png", alt: 'Borrar'), course, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>

	<%= link_to 'Nuevo Platillo', new_course_path , class: "justify"%>

	<br />
</div>
